body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    to right top,
    #6fe1f0,
    #c3ebf0
    )!important;
    min-height: 100vh;
    /* background-color: #c3ebf0!important; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.transition, a,.speak-me, .speak-you {
    transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    -o-transition: .2s;
}


.main {
  display: block;
  max-width: 960px;
  min-height: 65vh;
  margin: 0 auto;
  margin-top: 5vh;
}

.inline p {
  font-size: larger;
  display: inline;
}

.submit_button {
  text-align: center;
}
.leave_button {
  float: right;
  top: 20%;
  -ms-transform: translate(0%, -20%);
  transform: translate(0%, -20%);

  padding: .5em!important;
  padding-right: 2em!important;
  padding-left: 2em!important;
  font-size: 1.5em!important;
}
.home-buttons {
  margin: auto;
  width: 80%;
}

/* chat room */
.speak-me {
  background-color: rgb(47, 255, 47);
  word-wrap: break-word;
  width: max-content;
  max-width: 500px;
  text-align: left;
  margin-bottom: 4px;
  padding: 7px;
  border-radius: 15px;
  border-bottom-left-radius: 0px;
  z-index: 10;
}
.speak-you {
  background-color: #61aeff;
  word-wrap: break-word;
  width: max-content;
  max-width: 500px;
  margin-left: auto;
  margin-bottom: 4px;
  padding: 7px;
  border-radius: 15px;
  border-bottom-right-radius: 0px;
}
.chat-title {
  width: max-content;
  display: inline;
}
.bottom-space {
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

/* chat */
.chat-input {
  margin-top: 15px;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.input-group {
  width: auto!important;
}
.chat-input input {
  border-radius: 25px;
}
.chat-input button {
  border-radius: 25px;
}

/* glassy style */
.glassy {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.4)
  );
}

/* backdrop */
.backdropImgDiv {
  float: top;
  text-align: center;
}
.backdropImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 50vw;
  max-width: 60vh;
  max-height: 60vh;
  opacity: .5;
  z-index: -10;
  filter: blur(4px);
}

@media only screen and (max-width: 900px) {
  .leave_button {
    padding: .5em!important;
    padding-right: 1em!important;
    padding-left: 1em!important;
    font-size: 1em!important;
  }
}
